@font-face {
  font-family: Oswald-bold;
  src: url('./assets/fonts/Oswald-Bold.woff2');
  font-weight: 700;
  font-display: block;
  
}

@font-face {
  font-family: Oswald-regular;
  src: url('./assets/fonts/Oswald-Regular.woff2');
  font-weight: 400;
  font-display: block;
}

#subContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#contentMaxWidth {
  max-width: 1400px;
  width: 100%;
}