@font-face {
  font-family: Oswald;
  src: url('./assets/fonts/Oswald-Bold.woff2');
  font-weight: 700;
  font-display: block;
  
}

@font-face {
  font-family: Oswald;
  src: url('./assets/fonts/Oswald-Regular.woff2');
  font-weight: 400;
  font-display: block;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: rgba(255, 139, 118, 0.737);
  transform-origin: 0%;
}
